@media screen and (min-width: 925px) {
  .logoImage {
    margin-left: 60px;
    margin-top: 9px;
  }
}

@media screen and (max-width: 925px) {
  .logoImage {
    margin-left: 19px;
    margin-top: 8px;
  }
  .input {
    display: inline-block;
  }
}

@media screen and (min-width: 425px) {
  .logoImage {
    margin-left: 10px;
    margin-top: 8px;
  }
  .input {
    display: none;
  }
}
